.Mois {
    display: flex;
    flex-direction: column;
    width: 25%;
    border-top: solid grey 2px;
    border-right: solid grey 2px;
    border-bottom: solid grey 2px;
    padding: 20px;
    padding-left: 0;
    margin: 0;
}

button {
    width: auto;
    margin: 5px;
    padding: 10px;
    font-size: 30px;
}